.container {
    margin: 0 auto;
    width: 300px;
}

h1 {
    text-align: center;
}

.break {
    float: left;
    text-align: center;
}

.length {
    float: right;
    text-align: center;
}

/*.break > .breakMinus,*/
/*.length > .sessionMinus {*/
    /*float: left;*/
/*}*/

/*.break > .breakPlus,*/
/*.length > .sessionPlus {*/
    /*float: right;*/
/*}*/



.clock {
    height: 130px;
    width: 150px;
    padding-top: 20px;
    margin: 200px auto 0;
    text-align: center;
    border: 1px solid grey;
    border-radius: 50%;
}